/* custom CSS for AUC-RWWL plugin */
#header {
  background-image: url('/assets/Aspace_Banner.png');
  background-repeat: no-repeat;
}
#header .row {
  height: 100% !important;
}
#header .h1, #header .h1 a { 
  color: #05538a; 
}
#header #header-brand-text {
  background-color: rgba(235,235,235,.85);
  max-width: 710px !important;
}
#header-brand-text .h1.main-title {
  margin-top: 10px;
}
img.logo {
  margin-top: 15px;
}

@media screen and (max-width: 479px) {
  .carousel-container {
    width: 100%;
  }
}
.as-carousel {
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .as-carousel {
   padding-right: 5em;
 }
}
.carousel-inner {
  height: 444px;
  width: 327px;
  max-height: 100%;
  max-width: 100%;
}
.item img {
    width: 100%;
}
@media screen and (min-width: 480px) {
  .carousel-inner {
    max-height: 444px;
    max-width: 327px;
  }
}
.request_form__instructions {
  padding-bottom: 1em;
}

