<!-- a static Boostrap image carousel -->
<div class="col-xs-12 as-carousel">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       <!-- Indicators -->
       <ol class="carousel-indicators">
           <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
           <li data-target="#carousel-example-generic" data-slide-to="1"></li>
           <li data-target="#carousel-example-generic" data-slide-to="2"></li>
           <li data-target="#carousel-example-generic" data-slide-to="3"></li>
           <li data-target="#carousel-example-generic" data-slide-to="4"></li>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner" role="listbox">
           <div class="item active">
               <img src="/assets/images/image1.jpg" alt="">
               <div class="carousel-caption">
                   <h1><%= t('carousel.title') %></h1>
                   <p><%= t('carousel.caption') %></p>
               </div>
           </div>
           <div class="item">
               <img src="/assets/images/image2.jpg" alt="">
           </div>
           <div class="item">
               <img src="/assets/images/image3.jpg" alt="">
           </div>
           <div class="item">
               <img src="/assets/images/image4.jpg" alt="">
           </div>
           <div class="item">
               <img src="//www.fillmurray.com/200/300" alt="">
           </div>
       </div>

       <!-- Controls -->
       <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
       </a>
   </div>
</div>
