<!-- a dynamic Boostrap image carousel -->
<div class="col-xs-12 as-carousel">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-pause="hover">
       <!-- Indicators -->
       <ol class="carousel-indicators">
           <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
           <li data-target="#carousel-example-generic" data-slide-to="1"></li>
           <li data-target="#carousel-example-generic" data-slide-to="2"></li>
           <li data-target="#carousel-example-generic" data-slide-to="3"></li>
           <li data-target="#carousel-example-generic" data-slide-to="4"></li>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner" role="listbox">
       <% if @images %>
         <% @images.each_with_index do |image,i| %>
           <% if i == 0 %>
             <div class="item active">
               <img width="327" height="444" src="<%= image.to_s %>" alt="">
             </div>
           <% else %>
             <div class="item">
               <img width="327" height="444" src="<%= image.to_s %>" alt="">
             </div>
           <% end %>
         <% end %>
       <% end %>
       </div>

       <!-- Controls -->
       <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
       </a>
   </div>
</div>
