/* styles for frontend plugin */
.admin-img-thumbnail {
  height: 222px;
  width:  163.5px;
  border: thin solid gray;
}
.admin-carousel-image-index {
  height: 100px;
  max-height: 100px;
}
.carousel-admin-table td,th {
  padding-left: 15px;
  padding-bottom: 10px;
}
.carousel-admin-form select.form-control {
  max-width: 200px;
}
.carousel-admin-form label {
  padding: 0;
}
#carousel_image_repository_id_ {
  height: 0;
  visibility: hidden;
}
.basic-information {
  margin-bottom: 2em;
}
#form_carousel_image .form-actions {
  padding: 1em 0;
}
