<%
  show_header = true if show_header.nil?
  header_size = '3' if header_size.nil?
%>
    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'four_part_id']
           ]
    } %>
<div class="row">
  <div class="col-sm-7">
    <h1><%= t('brand.welcome_head') %></h1>
      <h2><%= t('brand.welcome_subhead') %></h2>
        <div> <%= t('brand.welcome_message').html_safe %> </div>
    <% if show_header %>
    <div class="">
      <h<%= header_size %>><%=  t('actions.search_instructions_title') %> </h<%= header_size %>>
      <div>
        <%= t('actions.search_instructions').html_safe %>
      </div>
    </div>
    <% end %>
  </div>
  <!-- slideshow carousel start -->
  <div class="pull-right carousel-container">
    <%= render partial: 'shared/dynamic_carousel', locals: { :images => @images } %>
  </div>
  <!-- slideshow carousel end -->
</div>

