<div class="">
  <h2>There has been an error updating this object.</h2>
  <pre><%= @utf8.inspect %></pre>
  <pre><%= @authenticity_token.inspect %></pre>
  <pre><%= @carousel_image_params.inspect %></pre>
  <pre><%= @carousel_image.inspect %></pre>
  <pre><%= @response.inspect %></pre>
</div>
