<%= setup_context(:object => @carousel_image, :title => "Carousel Image #{@carousel_image[:id]}") %>


<%= form_for @carousel_image, :as => "carousel_image", :url => {:controller => :carousel_images, :action => :update}, :method => :post, :html => {:class => 'form-horizontal aspace-record-form', :id => "carousel_image_form"} do |f| %>
  <%= form_context :carousel_image, @carousel_image do |form| %>
    <div class="row">
      <div class="col-md-9">
        <div class="record-pane">
          <h2><%= @carousel_image.title %> <span class="label label-info"><%= I18n.t("carousel_images._singular") %></span></h2>

          <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @carousel_image, :form => form} %>

          <% define_template("carousel_image", jsonmodel_definition(:carousel_image)) do |form| %>
            <section id="basic_information">
              <h3>
                <%= I18n.t "carousel_image._frontend.section.basic_information" %>
                <%= link_to_help :topic => "carousel_image_basic_information" %>
              </h3>
              <fieldset class="carousel-admin-form">
                 <%= form.hidden_input "id", @carousel_image[:id] %>
                 <%= form.textarea "repository_id" %>
                 <%= form.label_and_textarea "title" %>
                 <%= form.label_and_textarea "description" %>
                 <%= form.label_and_textarea "url" %>
                 <%= form.label_and_select "position", {first: 1, second: 2, third: 3, fourth: 4, fifth: 5, do_not_use: 1000}  %>
              </fieldset>
            </section>
          <% end %>

          <% form.emit_template("carousel_image") %>



          <div class="form-actions">            
            <button type="submit" class="btn btn-primary"><%= I18n.t("carousel_images._frontend.action.save") %></button>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
