<%= setup_context(:title => I18n.t("plugins.carousel_images._plural")) %>


<div class="row">
  <div class="col-md-12">
    <% if user_can?('view_repository') %>
      <div class="record-toolbar">
        <div class="btn-group pull-right">
          <%= link_to "Create", {:controller => :carousel_images, :action => :new} , :class => "btn btn-sm btn-default" %>
        </div>
        <br style="clear:both" />
      </div>
    <% end %>
    <% if @carousel_images.length > 0 %>
    <div class="record-pane">
      <h3>Available Carousel Images</h3>
      <table class="carousel-admin-table">
        <tr>
          <th style="min-width: 3em;">ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Url (click to open in new tab)</th>
          <th>Preview</th>
          <th>Position</th>
          <th></th>
        </tr>
       
        <% @carousel_images.each do |carousel_image| %>
          <tr>
            <td style="min-width: 3em;"><%= carousel_image.id  %></td>
            <td><%= link_to carousel_image.title, carousel_image_path(carousel_image.id)  %></td>
            <td><%= carousel_image.description %></td>
	    <td><a href="<%= carousel_image.url %>" target="_new"><%= carousel_image.url %></a></td>
            <td style="max-height: 150px; padding: 15px;"><img height=100 src="<%= carousel_image.url %>" alt="<%= carousel_image.title%>"/></td>
            <td style="text-align: center;"><%= carousel_image.position < 6 ? carousel_image.position : ' ' %></td>
            <td><%= link_to 'Edit', edit_carousel_image_path(carousel_image[:id]) , :class => "btn btn-sm btn-default"  %></td>
	    <td><%= button_delete_action url_for( :controller => :carousel_images, 
						  :action => :delete, 
						  :id => carousel_image.id), 
						  { :"data-title" => I18n.t("actions.delete_confirm_title", 
						    :title => carousel_image.title)
	                                          } 
						  %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <% else %>
      <div>There are no carousel images in the database. Please click 'create' to add one. </div>
    <% end %>
  </div>
</div>
