<%= link_to 'Back', {  :controller => :carousel_images, :action => :index }, { :class=>"btn btn-success" }%>
<% audit_trail = display_carousel_image_audit_info(@carousel_image) %>

<section id="carousel_images_show">
  <h3>Carousel Image Curation Update Failed</h3>
  <div class="accordion details" id="carousel_images_accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to 'Edit', "#{params[:id]}/edit", :class => "btn btn-sm btn-default" %>
          <%= readonly_context :carousel_image, @carousel_image do |readonly| %>
            <% define_template "carousel_image", jsonmodel_definition(:carousel_image) do |form| %>
              <section id="basic_information">
              <h3><%= I18n.t "carousel_image._frontend.section.basic_information" %></h3>

                <%= readonly.label_and_textarea "title" %>
                <%= readonly.label_and_textarea "description" %>
                <%= readonly.label_and_textarea "url" %>
                <%= readonly.label_and_date "create_time" %>

                <div style="padding: 15px;"><img height=200 src="<%= @carousel_image.url %>" alt="<%= @carousel_image.title %>"/></div>

                <%= audit_trail %>
              </section>
            <% end %>

            <%= readonly.emit_template "carousel_image" %>
          <% end %>
        </div>
      </div>
   </div>
</section>
